<!DOCTYPE html>
<html lang=zh-Hans>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <link rel=stylesheet href=//at.alicdn.com/t/font_1826661_mc12bytkve9.css>
    <title>教师在线报名审核后台</title>
    <link href=css/chunk-15686218.031bb7c8.css rel=prefetch>
    <link href=css/chunk-4343131a.9e3fed8a.css rel=prefetch>
    <link href=css/chunk-6a2daccf.d40a2fae.css rel=prefetch>
    <link href=css/chunk-73874de9.0c37a24a.css rel=prefetch>
    <link href=css/chunk-a707ffa8.adbcac76.css rel=prefetch>
    <link href=js/chunk-0504b748.23dc06e5.js rel=prefetch>
    <link href=js/chunk-15686218.8eb7fbae.js rel=prefetch>
    <link href=js/chunk-1fb8bc31.a468ecf0.js rel=prefetch>
    <link href=js/chunk-2ef7e9d6.fb370956.js rel=prefetch>
    <link href=js/chunk-4343131a.a3988109.js rel=prefetch>
    <link href=js/chunk-6a2daccf.703b89c9.js rel=prefetch>
    <link href=js/chunk-73874de9.16f4e23e.js rel=prefetch>
    <link href=js/chunk-a707ffa8.818d2f28.js rel=prefetch>
    <link href=css/app.b337f392.css rel=preload as=style>
    <link href=css/chunk-vendors.6dc57fe0.css rel=preload as=style>
    <link href=js/app.1242ae8d.js rel=preload as=script>
    <link href=js/chunk-vendors.433d0ba2.js rel=preload as=script>
    <link href=css/chunk-vendors.6dc57fe0.css rel=stylesheet>
    <link href=css/app.b337f392.css rel=stylesheet>
</head>
<body>
<noscript><strong>We're sorry but bd-health-main-frontend doesn't work properly without JavaScript enabled. Please
    enable it to continue.</strong></noscript>
<script src=//at.alicdn.com/t/font_1826661_mc12bytkve9.js></script>
<div id=app></div>
<script src=js/chunk-vendors.433d0ba2.js></script>
<script src=js/app.1242ae8d.js></script>
</body>
</html>
